<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.vaporwarecorp.jokester.client.core"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="com.vaporwarecorp.jokester.client.core.JokesterActivity"/>
    </application>

</manifest>
